.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    border-radius: 5px;
    /* border: 1px solid gray; */

    padding: 0.5em;
    
    background-color: inherit;

    box-shadow: 3px 3px 2px 0px rgba(133, 133, 133, 0.65);

    transition: 0.125s;

    cursor: pointer;
    user-select: none;
}
.card:hover{
    background-color: var(--typec);
    /* box-shadow: 3px 3px 2px 0px var(--typec); */
    box-shadow: 7px 7px 2px 0px rgba(133, 133, 133, 0.15);

    transform: translateX(-4px) translateY(-4px);
    /* color: black; */
    /* font-weight: 600; */
}
.card .img{
    max-width: 5em;
    max-height: 5em;
}

.card .text{
    display: flex;
    flex-direction: column;
    align-items: left;
}
.card .text .name{
    margin-bottom: 0.25em;
}
.card .text .form{
    font-size: smaller;
}