.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    border-radius: 5px;
    /* border: 1px solid gray; */

    padding: 0.5em;
    
    background-color: inherit;

    box-shadow: 3px 3px 2px 0px rgba(133, 133, 133, 0.75);

    transition: 0.125s;

    cursor: pointer;
    user-select: none;
}
.card:hover{
    background-color: var(--typec);
    /* color: black; */
    /* font-weight: 600; */
}
.card .img{
    max-width: 5em;
    max-height: 5em;
}